spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/semillero
    username: postgres
    password: 12345
  security:
    user:
      name: admin
      password: 1234
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
server:
  port: 8082
  error:
    include-message: always

